/* Complete the challenge by writing CSS below */
.main-heading {
    text-shadow: 0 5px #be7b31;
}

.title {
    text-shadow: 1px 3px 0 #e59740;
}

.main-header {
    box-shadow: inset 0 0 60px 5px firebrick;
}
