*, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    border: solid 2px black;
    margin: 20px 20px 20px 20px;
}

.main {
    background-color: aqua;
}